numpy==1.19.1
scipy==1.5.2
pytest==6.0.0
pytest-cov==2.10.0
pylint==2.5.3
manubot==0.4.0
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
matplotlib==3.3.0
seaborn==0.10.1
svgutils==0.3.1
git+git://github.com/aarmey/tensorly.git@parafac2-ls
scikit-learn==0.23.1
pybiomart==0.2.0
gseapy==0.9.19
h5py
