numpy==1.18.4
scipy==1.4.1
pytest==5.4.2
pytest-cov==2.9.0
pylint==2.5.2
manubot==0.3.1
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
synapseclient
matplotlib==3.2.1
seaborn==0.10.1
svgutils==0.3.1
git+git://github.com/tensorly/tensorly.git@b479f18d9b1658f9e849538dce1fd87931d2017a
tqdm
scikit-learn==0.23.1
pybiomart
h5py
