numpy==1.18.4
scipy==1.4.1
pytest==5.4.2
pytest-cov==2.9.0
pylint==2.5.2
manubot==0.3.1
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
synapseclient
matplotlib==3.2.1
seaborn==0.10.1
svgutils==0.3.1
git+git://github.com/tensorly/tensorly.git@b39c65182d24874e154de2d1563d4882086f0641
tqdm
scikit-learn==0.23.1
pybiomart
h5py
